@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("/fonts/opensans.woff") format("woff2"),
    url("/fonts/opensans.woff2") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("/fonts/opensansbold.woff") format("woff2"),
    url("/fonts/opensansbold.woff2") format("woff");
}
