.form-mail {
  .zero;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid @primary-color;
}
.form-mail__title {
  .zero;
  padding-right: 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: @primary-color;
}
.form-mail__text {
  display: block;
  padding-top: 6px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.form-mail__text-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 225px;
  cursor: default;
}
.form-mail__text-value {
  display: block;
  min-width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid #000000;
}
.form-mail__text-value:hover {
  border-bottom: 2px solid #46c1ae;
}
.form-mail__text:hover .form-mail__text-icon {
  fill: #46c1ae;
}
.form-mail__text-value:active {
  border-bottom: 2px solid @primary-color;
}
.form-mail__text:active .form-mail__text-icon {
  fill: @primary-color;
}
.form-mail__text-value::-webkit-input-placeholder {
  opacity: 0.3;
}
@media @tablet-widths {
  .form-mail {
    margin-top: 38px;
    display: flex;
    padding-left: 180px;
    padding-bottom: 50px;
    border: none;
  }
  .form-mail__title {
    margin-left: -160px;
    margin-bottom: -35px;
  }
  .form-mail__text {
    display: flex;
    align-items: center;
  }
  .form-mail__text-icon {
    margin-top: 0px;
    margin-left: 455px;
  }
  .form-mail__text-value {
    flex-grow: 1;
    width: auto;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    background-color: transparent;
  }
}
@media @desktop-widths {
  .form-mail {
    margin-top: 30px;
    padding-left: 215px;
  }
  .form-mail__title {
    margin-left: -100px;
  }
  .form-mail__text {
    padding-right: 200px;
  }
  .form-mail__text-icon {
    margin-left: 620px;
  }
}
