.form-name {
  .zero;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid @primary-color;
}
.form-name__title {
  .zero;
  padding-right: 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: @primary-color;
}
.form-name__text {
  display: block;
  padding-top: 23px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.form-name__text-value {
  display: block;
  min-width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: @text-color;
  border: none;
  border-bottom: 2px solid #000000;
}

.form-name__text-value::-webkit-input-placeholder {
  opacity: 0.3;
}
.form-name__text-value:hover {
  border-bottom: 2px solid #46c1ae;
}
.form-name__text-value:active {
  border-bottom: 2px solid @primary-color;
}
@media @tablet-widths {
  .form-name {
    margin-top: 65px;
    padding-left: 210px;
    padding-bottom: 50px;
    border: none;
  }
  .form-name__title {
    margin-left: -190px;
    margin-bottom: -57px;
  }
  .form-name__text {
    display: flex;
    padding-top: 24px;
    margin-left: -20px;
    align-items: center;
    font-size: 19px;
  }
  .form-name__text-value {
    flex-grow: 1;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 18px;
  }
}
@media @desktop-widths {
  .form-name {
    margin-top: 60px;
    padding-left: 245px;
    padding-bottom: 45px;
  }
  .form-name__title {
    margin-left: -130px;
  }
  .form-name__text {
    padding-right: 200px;
    font-size: 18px;
  }
  .form-name__text-value {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}
