.form-more {
  @include zero;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid $primary-color;
}

.form-more__title {
  @include zero;
  margin-bottom: 25px;
  padding-right: 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: $primary-color;
}

.form-more__text {
  display: block;
  width: 225px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 65px;
  font-size: 18px;
  border: 2px solid #000000;
}

.form-more__text:hover {
  border: 2px solid #46c1ae;
}

.form-more__text:active {
  border: 2px solid $primary-color;
}

.form-more__text::-webkit-input-placeholder {
  opacity: 0.3;
}

@media (min-width: $tablet-widths) {
  .form-more {
    display: flex;
    margin-top: 65px;
    padding-left: 210px;
    border: none;
  }

  .form-more__title {
    margin-left: -190px;
    margin-bottom: -35px;
  }

  .form-more__text {
    width: 470px;
    margin-left: -25px;
    padding-bottom: 60px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-widths) {
  .form-more {
    margin-top: 66px;
    padding-left: 218px;
  }

  .form-more__title {
    margin-left: -135px;
  }

  .form-more__text {
    width: 670px;
    padding-bottom: 60px;
  }
}
