.form-block__inner {
    width: 320px;
    margin: 0 auto;
  }
.form-block__title {
  .zero;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  line-height: 24px;
  color: @text-color;
}
.form-block__note {
  display: block;
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 14px;
}
.form-block__btn {
  display: block;
  width: 260px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 55px;
  background-color: transparent;
  cursor: pointer;
}
@media @tablet-widths {
  .form-block {
    display: flex;
    flex-direction: column;
  }
  .form-block__wrapper:nth-child(even) {
    background-color: #f1f1f1;
  }
  .form-block__inner {
    width: 768px;
  }
  .form-block__title {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 60px;
    font-size: 17px;
    line-height: 30px;
  }
  .form-block__note {
    width: 330px;
    margin-top: 65px;
    margin-left: 425px;
    font-weight: normal;
    font-size: 16px;
  }
  .form-block__btn {
    width: 230px;
    margin-top: -30px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}
@media @desktop-widths {
  .form-block__inner {
    width: 1150px;
  }
  .form-block__title  {
    padding-top: 110px;
    padding-left: 253px;
    padding-right: 230px;
    font-size: 16px;
  }
  .form-block__note {
    width: 300px;
    margin-top: 60px;
    margin-left: 625px;
    font-size: 14px;
  }
  .form-block__btn {
    width: 210px;
    margin-left: 255px;
    margin-top: -30px;
    margin-bottom: 45px;
    font-size: 15px;
  }
}
