.form-type {
  .zero;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid @primary-color;
}
.form-type__title {
  .zero;
  padding-right: 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: @primary-color;
}
.form-type__feature {
  display: block;
  margin-top: 30px;
  margin-left: 60px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.form-type__feature:nth-of-type(2) {
  margin-top: 25px;
}
.form-type__feature {
  &:before {
    content: " ";
    position: absolute;
    width: 33px;
    height: 33px;
    margin-top: -5px;
    margin-left: -58px;
    border: 2px solid #444444;
    border-radius: 50px;
    cursor: pointer;
  }
}
.form-type__feature-value {
  position: absolute;
  opacity: 0;
}
.form-type__feature-value:checked + .form-type__feature {
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    top: 6px;
    left: -47px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: @primary-color;
  }
}
@media @tablet-widths {
  .form-type {
    margin-top: 75px;
    margin-bottom: 35px;
    padding-left: 180px;
    border: none;
  }
  .form-type__title {
    margin-left: -160px;
  }
  .form-type__feature {
    margin-top: -19px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 19px;
  }
  .form-type__feature {
    &:before {
      width: 46px;
      height: 46px;
      margin-top: -13px;
      margin-left: -82px;
    }
  }
  .form-type__feature-value:checked+.form-type__feature {
    position: relative;
    &:after {
      top: 2px;
      left: -37px;
      width: 20px;
      height: 20px;
    }
  }
}
@media @desktop-widths {
  .form-type {
    margin-top: 60px;
    padding-left: 210px;
  }
  .form-type__title {
    margin-left: -90px;
  }
  .form-type__feature {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 17px;
  }
  .form-type__feature-value:checked+.form-type__feature {
    position: relative;
    &:after {
      top: 6px;
    }
  }
}
