.form-color {
  .zero;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid @primary-color;
}
.form-color__title {
  .zero;
  padding-right: 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: @primary-color;
}
.form-color__feature {
  display: block;
  margin-top: 4px;
  margin-left: 62px;
  padding-top: 30px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.form-color__feature-value {
  position: absolute;
  opacity: 0;
}
.form-color__feature {
  &:before {
    content: " ";
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: -8px;
    margin-left: -60px;
    border: 2px solid #444444;
    cursor: pointer;
  }
}
.form-color__feature-value:checked + .form-color__feature {
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    top: 32px;
    left: -54px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-image: url(../img/icon-tick.svg);
    background-size: 23px auto;
    background-repeat: no-repeat;
  }
}
@media @tablet-widths {
  .form-color {
    margin-top: 65px;
    padding-left: 190px;
    padding-bottom: 50px;
    border: none;
  }
  .form-color__title {
    margin-left: -166px;
    margin-bottom: -55px;
  }
  .form-color__feature {
    display: inline-block;
    width: 180px;
    padding-left: 15px;
    padding-bottom: 20px;
    align-content: center;
    font-size: 19px;
  }
  .form-color__feature {
    &:before {
      width: 48px;
      height: 48px;
      margin-top: -13px;
      margin-left: -80px;
    }
  }

  .form-color__feature-value:checked+.form-color__feature {
    position: relative;
    &:after {
      background-size: 35px auto;
    }
  }
}
@media @desktop-widths {
  .form-color {
    padding-left: 225px;
  }
  .form-color__title {
    margin-left: -110px;
  }
  .form-color__feature {
    width: 160px;
    padding-bottom: 15px;
    font-size: 17px;
  }
  .form-color__feature {
    &:before {
      margin-top: -13px;
    }
  }
}
