.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}
.main-nav__primary-list,
.main-nav__secondary-list {
  display: none;
  flex-direction: column;
  .zero;
  list-style: none;
}
.main-nav__tertiary-list {
  display: none;
}
.main-nav__wrapper--no-js .main-nav__primary-list,
.main-nav__wrapper--no-js .main-nav__secondary-list {
  display: flex;
}
.main-nav__toggler {
  position: absolute;
  margin-top: -50px;
  margin-left: 262px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-nav__toggler--close,
.main-nav__toggler--open {
  display: none;
}
.main-nav__wrapper--close .main-nav__toggler--open,
.main-nav__wrapper--open .main-nav__toggler--close {
  display: block;
}
.main-nav__item {
  font-weight: 700;
  font-size: 17px;
  background-color: #ffffff;
  border-top: 1px solid @border-color;
}
.main-nav__link {
  display: block;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 75px;
  padding-right: 20px;
  .type-link;
}
.main-nav__link[href]:hover {
  color: #666666;
}
.main-nav__link[href]:active {
  color: #b2b2b2;
}
.main-nav__icon-lens,
.main-nav__icon-cart {
  position: absolute;
  margin-left: -40px;
  opacity: 0.3;
}
.main-nav__link[href]:hover .main-nav__icon-lens,
.main-nav__link[href]:hover .main-nav__icon-cart {
  fill: @primary-color;
  opacity: 1;
}
.main-nav__link[href]:active .main-nav__icon-lens,
.main-nav__link[href]:active .main-nav__icon-cart {
  opacity: 0.3;
}
.main-nav__wrapper--open {
  position: absolute;
  width: 320px;
}
.main-nav__wrapper--open .main-nav__primary-list,
.main-nav__wrapper--open .main-nav__secondary-list {
  display: flex;
}
@media @tablet-widths {
  .main-nav__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .main-nav__wrapper--open {
    position: static;
  }
  .main-nav__wrapper .main-nav__primary-list,
  .main-nav__wrapper .main-nav__secondary-list {
    display: flex;
  }
  .main-nav__item  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: transparent;
    border: none;
  }
  .main-nav__primary-list {
    flex-direction: row;
    order: 1;
    padding-left: 50px;
    padding-right: 15px;
  }
  .main-nav__primary-list .main-nav__item {
    padding-right: 35px;
  }
  .main-nav__secondary-list {
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    padding-left: 150px;
    padding-right: 15px;
    border-bottom: 1px solid @border-color;
  }
  .main-nav__icon-cart {
    margin-left: -52px;
  }
  .main-nav__icon-lens {
    margin-top: -8px;
    margin-left: -10px;
  }
  .main-nav__secondary-list .main-nav__item {
    height: 86px;
    padding-right: 35px;
    font-size: 17px;
  }
  .main-nav__secondary-list .main-nav__item:first-child {
    width: 85px;
    font-size: 0;
    padding: 0;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
  }
  .main-nav__secondary-list .main-nav__item:nth-child(2){
    justify-content: flex-end;
    padding-left: 80px;
  }
  .main-nav__tertiary-list {
    display: flex;
    order: 2;
    .zero;
    margin-left: auto;
    padding-right: 15px;
  }
  .main-nav__tertiary-list .main-nav__item {
    padding-right: 35px;
    font-weight: normal;
    font-size: 15px;
  }
  .main-nav__tertiary-list .main-nav__item:nth-child(1),
  .main-nav__tertiary-list .main-nav__item:nth-child(2) {
    display: none;
  }
  .main-nav__item a  {
    .zero;
    border: none;
  }
}
@media @desktop-widths {
  .main-nav__wrapper {
    width: 1150px;
  }
  .main-nav__item {
    font-size: 16px;
  }
  .main-nav__primary-list {
    order: -1;
    flex-grow: 1;
    padding-left: 65px;
    border-bottom: 1px solid @border-color;
  }
  .main-nav__primary-list .main-nav__item {
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-nav__primary-list .main-nav__item:nth-child(2) {
    border-left: 1px solid @border-color;
  }
  .main-nav__secondary-list {
    padding-right: 55px;
  }
  .main-nav__icon-lens {
    margin-top: -7px;
    margin-left: -7px;
  }
  .main-nav__icon-cart {
    margin-left: -38px;
  }
  .main-nav__secondary-list .main-nav__item {
    height: 80px;
  }
  .main-nav__secondary-list .main-nav__item:nth-child(1) {
    width: 75px;
  }
  .main-nav__secondary-list .main-nav__item:nth-child(2) {
    padding-left: 70px;
  }
  .main-nav__tertiary-list {
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 70px;
    padding-right: 40px;
  }
  .main-nav__tertiary-list .main-nav__item {
    padding-left: 25px;
    padding-right: 30px;
  }
  .main-nav__tertiary-list .main-nav__item:nth-child(1),
  .main-nav__tertiary-list .main-nav__item:nth-child(2) {
    display: flex;
    height: 55px;
    font-weight: 700;
    font-size: 14px;
  }
  .main-nav__tertiary-list .main-nav__item:nth-child(3) {
    height: 55px;
    margin-left: auto;
    padding-right: 50px;
    font-size: 14px;
  }
}
