.socials-links {
  display: flex;
  height: 80px;
  font-size: 0;
  background-color: transparent;
}

.socials-links__wrapper {
  display: flex;
  align-items: baseline;

  @include margins;
}

@media (min-width: $tablet-widths) {
  .socials-links {
    margin-left: 110px;
    margin-right: auto;
  }
}

@media (min-width: $desktop-widths) {
  .socials-links {
    margin-left: 265px;
  }
}
